@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700|Oswald:400,300,700);
@import url(https://cdn.jsdelivr.net/gh/devicons/devicon@master/devicon.min.css);

// Base 
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color:$color-dark
  
}
img {
  display: block;
  height: auto;
  max-width: 100%;
}
html,
body {
  width: 100%;
  height: 100%; 
  font-family: $font-text;
  font-size: 16px;
  padding-top: 45px 20px;
  color:$color-dark; 
}
strong {
  font-weight: 600;
}
h1{
  margin: 0;
  padding-top: 20px;
  font-weight: 500;
  font-size: 2rem;
  color:$color-second;
}
h1::before{
  content: '[';
  color:lighten($color-primary,10%);
  padding-right: 5px;
}
h1::after{
  content: ']';
  color:lighten($color-primary,10%);
  padding-left: 5px;
}
.wrap {
  margin: auto;
  margin-top: 130px;
  height: 90vh;
  max-width: 1240px;
  padding: 0 $spacing;
  // 淡入
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */

  // Large devices (desktops, less than 1200px)
  @media (max-width: 1199.98px) { 
    padding: 0 ($spacing * 0.4);
  }

  // Medium devices (tablets, less than 992px)
  @media (max-width: 991.98px) { 
  }

  // X-Small devices (portrait phones, less than 576px)
  @media (max-width: 575.98px) { 
    margin-top: ($spacing * 1.5);
  }
}

h3 {
font-size: 1.4rem;
font-weight: 500;
font-family: $font-text;
padding: 2rem 0 0;
text-transform:uppercase;
color:lighten($color-second,20%);
}

h5 {
  font-size: 1.3rem;
  color: $color-primary;
  font-weight: 500;
  margin-top: 1.3rem;
  margin-bottom: 0.8rem;;
  font-family:$font-title;
}

p {
  font-size: 1rem;
  font-weight: 400;
  font-family:$font-text;
  line-height: 1.8;
}

// animation
@keyframes fadein {
  from {
    opacity:0;
    margin-top: 350px;
  }
  to {
    opacity:1;
  }
}
@-moz-keyframes fadein { /* Firefox */
  from {
    opacity:0;
    margin-top: 350px;
  }
  to {
    opacity:1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
    opacity:0;
    margin-top: 350px;
  }
  to {
    opacity:1;
  }
}
@-o-keyframes fadein { /* Opera */
  from {
    opacity:0;
    margin-top: 350px;
  }
  to {
    opacity: 1;
  }
}