@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700|Oswald:400,300,700);
@import url(https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css);

/* Variables */
$background: #262727;
$color-primary: #45CFAD;
// $color-primary: #76b852;
$color-second:#273776;
// 深藍 內文用

$color-light: white;
$color-dark:#262727;
$color-gris:#656667;
$spacing: 50px;
$radius: 4px;
// 日期寬度
$date: 120px;
$dotborder: 4px;
$dot: 11px;
$line: 3px;

$font-title: 'Oswald', sans-serif;
$font-text: 'Source Sans Pro', sans-serif;
